/* @import url('../fonts/Nexa/Nexa-Regular.otf'); */

@font-face {
    font-family: 'Nexa';
    font-weight: normal;
    src: url("../fonts/Nexa/Nexa-Regular.otf") format("opentype");
}

:root{
    --font-fam: 'Nexa';
    overflow-x: hidden;
}

html,body{
    overflow-x: hidden;
    font-family: var(--font-fam);
    background-color: #181818;
    margin: 0;
    padding: 0;
}

.nav-link{
    color: #FFBF8A;
    font-family: var(--font-fam);
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

.nav-link:hover{
    color: #ffd7b6;
}

.home-banner{
    background-image: url('../img/home-banner/backg.png');
    width: 100%;
    height: 30rem;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;

}
.content{
    margin-top: 30rem;
    font-family: var(--font-fam);
    font-weight: 400;
    line-height: 46px;
    text-align: center;
    text-transform: capitalize;
    color: #FFBF8A;
}

h2{
    font-family: var(--font-fam);
    font-size: 1.97rem;
}

h3{
    font-family: var(--font-fam);
    font-size: 2.3rem;
}
h5{
    font-family: var(--font-fam);
    font-size: 1.7rem;
    width: 30.5rem;
}

.box{
    padding: 30%;
    background-color: #1D1D1D;
    border: 1.45px solid #FFC18E;
    font-size: 1.1rem;
    font-family: var(--font-fam);
}

.banner-2{
    background-image: url('../img/home-banner/bg2.png');
    width: 100%;
    height: 42rem;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;

}

.instagram{
    margin-top: -10%;
}

#btnn{
    border-radius: 50%;
    background-color: #181818;
    height: 1rem;
    width: 1rem;
}

.carousel-caption {
    left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.82);
  box-shadow: 6.06756px 15.1689px 21.2365px rgba(0, 0, 0, 0.38);
  border-radius: 3rem;
} 

.carousel-caption p{
    margin-top: 1rem;
    color: #181818;
    text-align: center;
    text-transform: capitalize;
    font-family: var(--font-fam);
    font-size: 1.3rem;
line-height: 1.5rem;
font-weight: 800;
width: 80%;
}

.carousel-item{
    padding: 15rem;
}

.carousel-indicators{
    top: 100% !important;
}


.itallic{
    text-decoration: none;
    color: #181818;
    font-style: italic;
    font-weight: 400;
}

.plan p{
    color: #FFBF8A;
    font-size: 2.7rem;
    text-align: left;
    font-family: var(--font-fam);
    font-style: normal;
    line-height: 139.6%;
letter-spacing: 0.045em;
}
.download p{
    color: #FFBF8A;
    font-size: 1.3rem;
    text-align: left;
    font-family: var(--font-fam);
    font-style: normal;
letter-spacing: 0.045em;
}

.ios{
    color: #FFBF8A;
    font-size: 1rem;
    text-align: left;
    font-weight: 400;
    text-align: left;
    font-family: var(--font-fam);
    font-style: normal;
    padding: 0.7rem 3rem;
    box-sizing: border-box;
border: 1.7176px solid #FFC18E;
border-radius: 2.57641px;
letter-spacing: 0.045em;
text-decoration: none;
}

.android{
    color: #FFBF8A;
    font-size: 1rem;
    text-align: left;
    font-weight: 400;
    text-align: left;
    font-family: var(--font-fam);
    font-style: normal;
    padding: 0.7rem 1.9rem;
    box-sizing: border-box;
border: 1.7176px solid #FFC18E;
border-radius: 2.57641px;
letter-spacing: 0.045em;
text-decoration: none;
}

.download:hover{
    color: #FFBF8A;
}

.btn:hover{
    background-color: #FFBF8A;
    color: #181818;
    border: none;
}

#cf {
    position:relative;
    height:281px;
    width: 350px;
    margin-top: 8%;
  }
  
  #cf img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  
  #cf img.top:hover {
    opacity:0;
  }

  .footer{
      color: #FFBF8A;
  }

  .footer a{
      color: #FFBF8A;
      text-decoration: none;
  }

.section8{
    background-color: #FFC18E;
}
.address{
    width: 75%;
}
.footer h6{
    font-size: 1.3rem;
}

@media screen and (min-width:1600px){
    .plan p{
        font-size: 3.6rem;
        width: 90%;
    }
    .download p{
        font-size: 1.6rem;
        width: 95%;
        margin-left: -1rem;
    }
    .android{
        padding: 1.5rem 2rem;
        font-size: 1.3rem;
        margin-left: -1rem;
    }
    .ios{
        padding: 1.5rem 3.4rem;
        font-size: 1.3rem;
        margin-left: -1rem;
    }
    .footer h6{
        font-size: 1.6rem;
    }
    .footer a{
        font-size: 1.4rem;
    }
    .section7 p{
        font-size: 1.3rem;
    }
}

@media screen and (min-width:1400px) and (max-width:1599px) {
    .plan p{ margin-left: 1rem;}
}

@media screen and (min-width: 1501px){
    .carousel-caption{
        margin-top: -5%;
        height: 39%;
    }
    .carousel-indicators{
        margin-top: -5%;
    }
}

@media screen and (min-width: 465px) and (max-width: 890px) {
    .carousel-caption{
        width: 77%;
        height: 40%;
    }
    
}
@media screen and (min-width: 401px) and (max-width: 464px){
    .carousel-caption{
        width: 57%;
        height: 60%;
        margin-left: -1rem;
    }
}
@media screen and (min-width: 361px) and (max-width: 400px){
    .carousel-caption{
        width: 57%;
        height: 60%;
        margin-left: -2.7rem;
    }
}
@media screen and (min-width:326px) and (max-width: 360px){
    .carousel-caption{
        width: 57%;
        height: 60%;
        margin-left: -4.3rem;
    }
}
@media screen and (max-width: 325px){
    .carousel-caption{
        width: 57%;
        height: 60%;
        margin-left: -5rem;
    }
}
@media screen and (min-width: 1024px){
    .download-content{
        margin-left: 10%;
    }
}
@media screen and (min-width: 699px) and (max-width: 991px) {
    .mobile-app img{
        width: 40% !important;
    }
    .box{
        padding: 15%;
    }
    
}

@media screen and (max-width: 700px) {
    .mobile-app img{
        width: 80% !important;
    }
    .box{
        padding: 15%;
    }
    .footer h6{
        font-size: 1rem;
    }
    .footer a{
        font-size: 1.1rem;
    }
    
}