/* @import url('../fonts/Nexa/Nexa-Regular.otf'); */

@font-face {
    font-family: 'Nexa';
    font-weight: normal;
    src: url("../fonts/Nexa/Nexa-Regular.otf") format("opentype");
}

:root{
    --font-fam: 'Nexa';
}

html,body{
    overflow-x: hidden;
    font-family: var(--font-fam);
    background-color: #181818;
    margin: 0;
    padding: 0;
}

.nav-link{
    color: #FFBF8A;
    font-family: var(--font-fam);
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

.nav-link:hover{
    color: #ffd7b6;
}

.home-banner{
    background-image: url('../img/home-banner/backg.png');
    width: 100%;
    height: 30rem;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;

}
.content{
    margin-top: 30rem;
    font-family: var(--font-fam);
    font-weight: 400;
    line-height: 46px;
    text-align: center;
    text-transform: capitalize;
    color: #FFBF8A;
}

h2{
    font-family: var(--font-fam);
    font-size: 1.97rem;
}

h3{
    font-size: 2.3rem;
}
h5{
    font-size: 1.7rem;
    width: 30.5rem;
}

.box{
    padding: 34%;
    background-color: #1D1D1D;
    border: 1.45px solid #FFC18E;
    font-size: 1rem;
    font-family: var(--font-fam);
}

.banner-2{
    background-image: url('../img/home-banner/bg2.png');
    width: 100%;
    height: 42rem;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;

}

.instagram{
    margin-top: -10%;
}

#btnn{
    border-radius: 50%;
    background-color: #181818;
    height: 1rem;
    width: 1rem;
}

.carousel-caption {
    left: 50%;
  top: 51%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.82);
  box-shadow: 6.06756px 15.1689px 21.2365px rgba(0, 0, 0, 0.38);
  border-radius: 3rem;
} 

.carousel-caption p{
    margin-top: 1rem;
    color: #181818;
    text-align: center;
    text-transform: capitalize;
    font-family: var(--font-fam);
    font-size: 1.3rem;
line-height: 1.5rem;
font-weight: 800;
width: 80%;
}

.carousel-item{
    padding: 15rem;
}

.carousel-indicators{
    top: 100% !important;
}

.itallic{
    text-decoration: none;
    color: #181818;
    font-style: italic;
    font-weight: 400;
}

.plan p{
    color: #FFBF8A;
    font-size: 2.7rem;
    text-align: left;
    margin-left: 10%;
    font-family: var(--font-fam);
    font-style: normal;
    line-height: 139.6%;
letter-spacing: 0.045em;
}
.download{
    color: #FFBF8A;
    font-size: 1rem;
    text-align: left;
    font-weight: 400;
letter-spacing: 0.045em;
text-decoration: none;
}

.download:hover{
    color: #FFBF8A;
}